.button-font{
  font-family:"Microsoft Yahei";
}

.header-font{
  font-family:"STHeiti";
}

.checkbox-font{
  font-family:"SimHei";
}

.tableheader-font{
  font-family: "Microsoft JhengHei";
}

.table-font{
  font-family:"SimHei";
}

.p-font{
  font-family:"Microsoft JhengHei";
}

.tag-font{
  font-family:"Microsoft JhengHei";
  font-size:14px;
}