#page{
  width:1583px;
  height:100%;
}

.header{
  height:30px;
  font-size:22px;
  width:100%;
}

.header #p{
  width:200px;
  position:absolute;
  left:80px;
}

.header #username{
  width:200px;
  position:absolute;
  right:80px;
}

.box-card {
  width: 780px;
  height:400px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-200px;
  margin-left:-390px;
}

.box-card .manage{
  margin:20px;
  width:450px;
  height:105px;
  font-size:22px;
  color:white;
  background-color:RGB(90,155,214);
  position:relative;
  left:120px;
  top:60px;
  border-radius:10px;
  line-height:105px;
  border-style:solid;
  border-width:0.5px;
  border-color:RGB(84,130,171);
  cursor: pointer;
}

.box-card .replace{
  margin:20px;
  width:450px;
  height:105px;
  font-size:22px;
  background-color:RGB(90,155,214);
  color:white;
  position:relative;
  left:120px;
  border-radius:10px;
  line-height:105px;
  border-style:solid;
  border-width:0.5px;
  border-color:RGB(84,130,171);
  cursor: pointer;
}