

#page{
  width:100%;
  height:100%;
}
.header{
  height:2%;
  font-size:22px;
  width:100%;
}

.header #p{
  width:200px;
  position:absolute;
  left:5%;
}

.header #username{
  width:200px;
  position:absolute;
  right:5%;
}

.button-group1{
    width:100%;
    position:absolute;
    top:10%;
}

.button-group1 img{
  position:relative;
  left:26%;
  width:50px;
  height:40px;
}
.button1{
  width:15%;
  background-color:RGB(91,155,213);
  color:white;
  position:absolute;
  left:45%;
}

.button2{
  width:15%;
  background-color:RGB(91,155,213);
  color:white;
  position:absolute;
  right:5%;
  top:auto;
}

.el-table{
  width:90%;
  left:5%;
  top:20%;
  position:absolute;

}


.el-checkbox__inner{
  border-color:#000;
}

.el-button.button3{
  width:90%;
  color:white;
  background-color:RGB(91,155,213);
}

.el-button.button4{
  width:90%;
  color:white;
  background-color:RGB(91,155,213);
  position:relative;
  top:5px;
}

.button-group2{
  width:100%;
  height:3%;
  position:absolute;
  bottom:5%;
}

.el-button.button5{
  width:13%;
  color:white;
  background-color:RGB(112,173,71);
  position:absolute;
  left:5%;
}

.el-button.button6{
  width:13%;
  color:white;
  background-color:RGB(91,155,213);
  position:absolute;
  right:31%;
}

.el-button.button7{
  width:13%;
  color:white;
  background-color:RGB(117,112,113);
  position:absolute;
  right:18%;
}
.el-button.button8{
  width:13%;
  color:white;
  background-color:RGB(117,112,113);
  position:absolute;
  right:5%;
}




.el-table >>>td,
.el-table >>>th.is-leaf {
        border: 1px solid RGB(112,149,183);
}


.el-table--border{
  border-bottom:1px solid RGB(112,149,183);

}

.el-table >>>.cell {
  text-align:center;
}

.el-table>>>.el-checkbox__inner{
  border:1px solid #000;
}

.block{
  position:absolute;
  top:85%;
  left:39%;
}

.shortInput{
  width:55px;
}

.longInput{
  width:80px;
}